<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project kev">
      <figure class="project__pic">
        <a href="https://apps.apple.com/us/app/white-balance-meter-ai-kev/id1494197457?uo=4" target="_blank">
          <img src="{{site.baseurl}}/img/featured/blistabloc/blistabloc.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://apps.apple.com/us/app/white-balance-meter-ai-kev/id1494197457?uo=4" target="_blank">White Balance Meter AI - KEV</a>
        </div>
        <p>KEV turns your iPhone or iPad into a professional and easy-to-use light meter. Minimalistic KEV analyzes live preview of the scene and gives you accurate white balance data in Kelvin.
</p>
      </figcaption>
    </div>

    <div class="project duesx">
      <figure class="project__pic">
        <a href="https://apps.apple.com/app/subscriptionsx-track-manage/id1567041154" target="_blank">
          <img src="{{site.baseurl}}/img/featured/blistabloc/duesx.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://apps.apple.com/app/subscriptionsx-track-manage/id1567041154" target="_blank"> Track Subscriptions - DuesX</a>
        </div>
        <p>With DuesX, you save money. It works as your personalized financial assistant for all the subscriptions you have. It organizes your paid or free subscriptions and reminds you before the due date.
</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://interventions.design/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/interventions/interventions.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://interventions.design/" target="_blank">Interventions</a>
        </div>
        <p>Interactive marketing website for Northeastern's first annual student-led design conference, Interventions.</p>
      </figcaption>
    </div>
  </div>
</section>
